input:focus, textarea:focus, button:focus {
  outline: none;
}

html, body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
  min-height: 100%;
}

main {
  overflow: auto;
  padding-bottom: 5vh;
  clear: both;
}

body: before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

.name {
  padding-top: 20vh;
  text-align: center;
  height: 80vh;
}

h1 {
  font-size: 6em;
  margin-bottom: -10px;
}

p {
  font-size: 1.5em;
}

#buttoni {
  border: none;
  background-color: white;
  cursor: pointer;
}

#firstDown {
  border: none;
  background-color: white;
  padding-top: 200px;
  cursor: pointer;
}

#up {
  border: none;
  background-color: white;
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left: 47.5%;
  padding-right: 47.5%;
  cursor: pointer;
}

#more {
  margin-top: 7px;
  margin-left: -5px;
  color: #1E90FF;
  font-size: 1em;
  background-color: white;
  border: none;
  font-weight: bold;
}

#no a {
  text-decoration: none;
  color: #1E90FF;
}

#no iframe {
  text-align: center;
  height: 30vh;
}

.search {
  padding-top: 40vh;
  text-align: center;
  height: 60vh;
  width: 100vw;
}

input {
  font-size: 4em;
  width: 40vw;
}

.results {
  height: 90vh;
  width: 100vw;
}

#concertList {
  margin: 0 auto;
}

#date {
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 1em;
}

#name {
  font-size: 1em;
}

#no {
  text-align: center;
  font-size: 2em;
  padding-top: 100px;
}

table img {
  height: 75px;
  width: 75px;
}

footer {
  height: 5vh;
  text-align: center;
}
